Source: cyclobranch
Section: unknown
Priority: optional
Maintainer: Jiri Novak <jiri.novak@biomed.cas.cz>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://ms.biomed.cas.cz/cyclobranch
#Vcs-Git: git://anonscm.debian.org/collab-maint/cyclobranch.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/cyclobranch.git

Package: cyclobranch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CycloBranch


