[Desktop Entry]
Comment=CycloBranch 
Exec=CycloBranch
Icon=/usr/share/cyclobranch/images/cb.png
Name=CycloBranch
NoDisplay=false
StartupNotify=false
Terminal=false
Type=Application
